body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: aliceblue;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puntation {
  font-size: 50px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  gap: 20px;
  min-width: 100px;
  flex-wrap: wrap;
}

button {
  font-size: 25px;
}

p {
  font-size: 27px;
  padding-left: 5px;
  margin: 10px;
}
h1,
h2 {
  margin: 5px;
  padding: 5px;
}

h1 {
  color: aquamarine;
  font-size: 60px;
  text-align: center;
}

h2,
.puntation {
  color: yellow;
}

.puntation {
  padding: 5px;
}

.results {
  padding: 25px;
  font-size: 25px;
}

span {
  font-size: 25px;
}

#restart {
  background-color: aquamarine;
  color: rgb(0, 0, 0);
  padding: 10px;
}

#winner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  color: yellow;
  font-size: 80px;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
}
